<!DOCTYPE html>
</html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <img src = '/img/rara.jpg'>
    <br>
    {{!-- <p1>Created By {{name}}</p1> --}}
    {{>footer}}
</body>

</html>